
<centre> 
<h1 class="course-heading display-4">Все лекции:</h1>  
</centre>

{{#if isLoggedin}}
<form action="/addCourse" method="GET">
  <input type="submit" value="Create New Course">
</form>


{{#each courses}}
<a href="/{{this.title}}/course">{{this.title}}</a>

<form action="/delete/{{this.title}}" method="GET">
  <input type="submit" value="Delete">
</form>

<form action="/{{this.title}}/course" method="GET">
  <input type="submit" value="Edit">
</form>
{{!-- 
<p>Average Score: {{averageScore}}</p>
<p>Total reviews: {{totalReviews}}</p> --}}
<p>Средняя статистика: {{totalReviews}}</p>

<br>
{{/each}}

{{else}}

{{#each courses}}
<a href="/{{this.title}}/course">{{this.title}}</a>
<br>
{{/each}}
{{/if}}
