<h1 class="course-heading">Our courses</h1>
{{#if isLoggedin}}
<form action="/addCourse" method="GET">
  <input type="submit" value="Create New Course">
</form>


{{#each courses}}
<a href="/{{this.title}}/course">{{this.title}}</a>

<form action="/delete/{{this.title}}" method="GET">
  <input type="submit" value="Delete">
</form>

<form action="/{{this.title}}" method="GET">
  <input type="submit" value="Edit">
</form>

<br>
{{/each}}

{{else}}

{{#each courses}}
<a href="/{{this.title}}/course">{{this.title}}</a>
<br>
{{/each}}
{{/if}}
