<center>
  <br>
<h1 class="course-heading display-4">Все лекции: </h1>
</center>

{{#if isLoggedin}}
<form action="/addCourse" method="GET">
  <input type="submit" value="Create New Course" class="btn  btn-block btn-outline-success">



</form>
<br>

{{#each courses}}
<center> 
<a href="/{{this.title}}/course" class="h3  nav-link" >{{this.title}} </a>
</center>
<form action="/delete/{{this.title}}" method="GET">
  <input type="submit" value="Delete" class="btn  btn-block btn-outline-success">
</form>
<br>
<form action="/{{this.title}}/course" method="GET">
  <input type="submit" value="Edit" class="btn  btn-block btn-outline-success">
</form>
{{!-- 
<p>Average Score: {{averageScore}}</p>
<p>Total reviews: {{totalReviews}}</p> --}}
<br>
<center> 
<h2>Средняя статистика: {{totalReviews}}</h2>
</center>
<br>

<hr style="border: 10px solid #007F55;">

{{/each}}

{{else}}

{{#each courses}}
<center> 
<a href="/{{this.title}}/course" class="h3  nav-link" >{{this.title}}  </a>
</center>
<br>
{{/each}}
{{/if}}
{{#if isLoggedin}}
<center> 
<a href="/exit" class="h3 nav-link" >Exit</a>
</center>
{{/if}}
