<h2 class="title">{{title}}</h2>



{{#if isLoggedin}}
<form action="/save/{{title}}" method="POST">
  {{#each course}}
  {{#if this.youtubeURL}}
  <div class="youtube">
    <iframe src={{this.youtubeURL}} frameborder="0">Тест...</iframe>
  </div>
  {{/if}}
  <br />
  <input type="text" value="{{this.youtubeURL}}" placeholder="youtubeURL" name="youtubeURL">
  {{#if this.formURL}}
  <div class="googleDoc">
    <iframe src={{this.formURL}} frameborder="0">Тест...</iframe>
  </div>
  {{/if}}
  <br />
  <input type="text" value="{{this.formURL}}" placeholder="formURL" name="formURL">
  <br />
  <br />
  {{/each}}
  <input type="submit" value="Save Changes" class="btn  btn-block btn-outline-success"> 
   

</form>

{{else}}

{{#each course}}
{{#if this.youtubeURL}}
<div class="youtube">
  <iframe src={{this.youtubeURL}} frameborder="0">Тест...</iframe>
</div>
{{/if}}
{{#if this.formURL}}
<div class="googleDoc">
  <iframe src={{this.formURL}} frameborder="0">Тест...</iframe>
</div>
{{/if}}
{{/each}}
{{/if}}




<div class="slidecontainer">
  <form action="/review/{{title}}" method="POST">
    <p>Вам понравился курс?</p>
    <input type="range" min="1" max="100" value="50" ,class="slider" name="range">
    <input type="submit" value="Оставить отзыв" class="btn  btn-block btn-outline-success">
  </form>
</div>

{{!-- <div class="d-flex justify-content-center my-4 pt-3">
  <span class="font-weight-bold blue-text mr-2 mt-1"><i class="fas fa-thumbs-down" aria-hidden="true"></i></span>
  <form class="range-field w-75">
    <input class="border-0" type="range" min="0" max="100" />
  </form>
  <span class="font-weight-bold blue-text ml-2 mt-1"><i class="fas fa-thumbs-up" aria-hidden="true"></i></span>
</div> --}}

{{#if isLoggedin}}
<br />
<form action="/new/{{title}}" method="GET" >
  <input type="submit" value="Create New Entry" class="btn  btn-block btn-outline-success">
</form>
{{/if}}
