<h2 class="title">{{title}}</h2>



{{#if isLoggedin}}
<form action="/save/{{title}}" method="POST">
  {{#each course}}
  {{#if this.youtubeURL}}
  <div class="youtube">
    <iframe src={{this.youtubeURL}} frameborder="0">Тест...</iframe>
  </div>
  {{/if}}
  <br />
  <input type="text" value="{{this.youtubeURL}}" placeholder="youtubeURL" name="youtubeURL">
  {{#if this.formURL}}
  <div class="googleDoc">
    <iframe src={{this.formURL}} frameborder="0">Тест...</iframe>
  </div>
  {{/if}}
  <br />
  <input type="text" value="{{this.formURL}}" placeholder="formURL" name="formURL">
  <br />
  <br />
  {{/each}}
  <input type="submit" value="Save Changes">

</form>

{{else}}

{{#each course}}
{{#if this.youtubeURL}}
<div class="youtube">
  <iframe src={{this.youtubeURL}} frameborder="0">Тест...</iframe>
</div>
{{/if}}
{{#if this.formURL}}
<div class="googleDoc">
  <iframe src={{this.formURL}} frameborder="0">Тест...</iframe>
</div>
{{/if}}
{{/each}}
{{/if}}




{{#if isLoggedin}}
{{!-- <form action="/save/{{title}}" method="POST">
  <input type="submit" value="Save Changes">
</form> --}}
<br />
<form action="/new/{{title}}" method="GET">
  <input type="submit" value="Create New Entry">
</form>
{{/if}}
