<h2 class="title">{{title}}</h2>


{{#each course}}
{{#if this.youtubeURL}}
<div class="youtube">
  <iframe src={{this.youtubeURL}} frameborder="0">Тест...</iframe>
</div>
{{/if}}
{{#if isLoggedin}}
  <input type="text" value="{{this.youtubeURL}}">
{{/if}}
{{#if this.formURL}}
<div class="googleDoc">
  <iframe src={{this.formURL}} frameborder="0">Тест...</iframe>
</div>
{{/if}}
{{#if isLoggedin}}
  <input type="text" value="{{this.formURL}}">
{{/if}}
{{/each}}

{{#if isLoggedin}}
<form action="/save" method="GET">
  <input type="submit" value="Save Changes">
</form>
<br/>
<form action="/new/{{title}}" method="GET">
  <input type="submit" value="Create New Entry">
</form>
{{/if}}

<div class="home">
  <form class="" method="GET" action="/" id="home">
    <input type="submit" value="Back to Courses">
  </form>
</div>
